name: build Docker image

on:
  workflow_call:
    inputs:
      image_name:
        type: string
        required: true
      aws_region:
        type: string
        required: true
      dockerfile_path:
        type: string
        default: ./Dockerfile
      platforms:
        type: string
        default: linux/amd64
      build_args:
        type: string
      run-trivy:
        type: boolean
        default: false
      aws_role_to_assume:
        description: >
          AWS IAM Role to assume using GitHub OIDC Provider.
          To use it, you have to update `allowed_github_repositories` in
          https://github.com/cloudnativedaysjp/terraform/blob/main/github_actions_assume_aws_role/main.tf
        type: string
        default: "arn:aws:iam::607167088920:role/github-actions-dreamkast"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          role-to-assume: ${{ inputs.aws_role_to_assume }}
          aws-region: ${{ inputs.aws_region }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1

      - name: Check trigger type
        id: check-trigger-type
        shell: bash -xe {0}
        run: |
          {
          if [[ "${{github.ref_type}}" = "tag" ]]; then
              echo "enable_commit=false"
              echo "enable_main=false"
              echo "enable_release=true"
          elif [[ "${{github.ref_type}}" = "branch" ]]; then
            if [[ "${{ github.ref_name }}" = "main" ]] || [[ "${{ github.ref_name }}" = "master" ]]; then
              echo "enable_commit=false"
              echo "enable_main=true"
              echo "enable_release=false"
            else
              echo "enable_commit=true"
              echo "enable_main=false"
              echo "enable_release=false"
            fi
          else
              echo "enable_commit=false"
              echo "enable_main=false"
              echo "enable_release=false"
          fi
          } >> "$GITHUB_OUTPUT"

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5.8.0
        with:
          images: ${{ steps.login-ecr.outputs.registry }}/${{ inputs.image_name }}
          tags: |
            prefix=commit-,type=sha,format=long,enable=${{steps.check-trigger-type.outputs.enable_commit}}
            prefix=main-,type=sha,format=long,enable=${{steps.check-trigger-type.outputs.enable_main}}
            prefix=branch-,type=ref,event=branch,enable=${{steps.check-trigger-type.outputs.enable_main}}
            prefix=release-,type=ref,event=tag,enable=${{steps.check-trigger-type.outputs.enable_release}}

      - name: Build
        id: docker_build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ./
          file: ${{ inputs.DOCKERFILE_PATH }}
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: ${{ inputs.build_args }}
          platforms: ${{ inputs.platforms }}
      # trivyのスキャンが転けるのでコメントアウト
      # - name: Run Trivy vulnerability scanner
      #   uses: aquasecurity/trivy-action@f9424c10c36e288d5fa79bd3dfd1aeb2d6eae808 # 0.33.0
      #   if: ${{ inputs.run-trivy == true }}
      #   with:
      #     image-ref: ${{ steps.login-ecr.outputs.registry }}/${{ inputs.image_name }}:commit-${{ github.sha }}
      #     format: 'table'
      #     exit-code: '0'
      #     ignore-unfixed: true
      #     vuln-type: 'os,library'
      #     severity: 'CRITICAL,HIGH'
