name: run common linters for GitHub Action

on:
  workflow_call:
    inputs:
      reviewdog-fail-level:
        type: string
        default: any
      pinact-skip-push:
        type: boolean
        default: false
    secrets:
      APP_ID:
        description: the ID of GitHub App with the role of tag push. required when pinact-skip-push is false
        required: false
      APP_PRIVATE_KEY:
        description: the private key of GitHub App with the role of tag push. required when pinact-skip-push is false
        required: false

env:
  AQUA_LOG_COLOR: always

permissions:
  contents: read
  pull-requests: write

jobs:
  actionlint:
    if: github.event.pull_request != null
    name: actionlint with reviewdog
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - name: actionlint
        uses: reviewdog/action-actionlint@0d952c597ef8459f634d7145b0b044a9699e5e43 # v1.71.0
        with:
          reporter: github-pr-review
          fail_level: ${{ inputs.reviewdog-fail-level }}

  pinact:
    name: run pinact and push new commit if needed
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - uses: suzuki-shunsuke/pinact-action@1081f5ad49ac904b7d977784f338145150a32112 # v1.4.0
        if: inputs.pinact-skip-push == true
        with:
          skip_push: "true"
      - uses: suzuki-shunsuke/pinact-action@1081f5ad49ac904b7d977784f338145150a32112 # v1.4.0
        if: inputs.pinact-skip-push == false
        with:
          app_id: ${{secrets.APP_ID}}
          app_private_key: ${{secrets.APP_PRIVATE_KEY}}

  ghalint:
    name: validate GitHub Actions Workflows by ghalint
    runs-on: ubuntu-latest
    permissions: {}
    timeout-minutes: 3
    steps:
      - name: place aqua.yaml to install some tools
        run: |
          curl -sSL https://raw.githubusercontent.com/cloudnativedaysjp/reusable-workflows/refs/heads/main/aqua.yaml -o "$HOME/aqua.yaml"
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.6
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - run: |
          if [ -f .github/ghalint.yaml ]; then
            ghalint -c .github/ghalint.yaml run
          elif [ -f .github/ghalint.yml ]; then
            ghalint -c .github/ghalint.yml run
          else
            ghalint run
          fi
        env:
          GHALINT_LOG_COLOR: always
          AQUA_GITHUB_TOKEN: ${{github.token}}
