name: remove specified label from PR that no update during 3 days

on:
  workflow_call:
    inputs:
      target-label:
        description: Name of label to be removed
        type: string
        default: "reviewapps"
      target-days:
        description: The number of days to delete a label when there are no updates to the PR
        type: number
        default: 3
    secrets: {}

jobs:
  labeling:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      issues: write
    timeout-minutes: 3
    steps:
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const targetLabel = '${{ inputs.target-label }}';
            const targetDays =  ${{ inputs.target-days }};

            const now = new Date();
            const borderDate = new Date(now.getFullYear(), now.getMonth(), now.getDate() - targetDays);
            const prs = await github.rest.pulls.list({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: "open",
            });
            await Promise.all(
            prs.data.filter(d => {
              const updatedAt = new Date(Date.parse(d.updated_at));
              return updatedAt < borderDate && d.labels.some(label => label.name == targetLabel);
            }).map(pr => {
              github.rest.issues.removeLabel({
                name: targetLabel,
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: pr.number,
              })
            })
            );
