name: update ECS manifests for Review Apps

on:
  workflow_call:
    inputs:
      aws_region:
        type: string
        default: us-west-2
      aws_role_to_assume:
        description: >
          AWS IAM Role to assume using GitHub OIDC Provider.
          To use it, you have to update `allowed_github_repositories` in
          https://github.com/cloudnativedaysjp/terraform/blob/main/github_actions_assume_aws_role/main.tf
        type: string
        default: "arn:aws:iam::607167088920:role/github-actions-dreamkast"

    secrets:
      APP_ID:
        description: the ID of GitHub App with the role that pull/push to dreamkast-infra
        required: true
      APP_PRIVATE_KEY:
        description: the private key of GitHub App with the role that pull/push to dreamkast-infra
        required: true

    outputs:
      outcome:
        value: ${{ jobs.check-if-reviewapp.outputs.outcome }}
      pr_number:
        value: ${{ jobs.check-if-reviewapp.outputs.pr_number }}
      pr_commit:
        value: ${{ jobs.check-if-reviewapp.outputs.pr_commit }}

# this workflow should not work with cleanup workflow
concurrency: reviewapps

jobs:
  check-if-reviewapp:
    name: Check if the triggered event is for building review app
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    timeout-minutes: 3
    outputs:
      outcome: ${{ steps.check_if_reviewapp.outcome }}
      pr_number: ${{ steps.check_if_reviewapp.outputs.pr_number }}
      pr_commit: ${{ steps.check_if_reviewapp.outputs.pr_commit }}
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
          # checkout branch even if triggered by PullRequest Label
          ref: ${{ github.head_ref }}

      - id: check_if_reviewapp
        continue-on-error: true
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          PR_NUMBER=$(gh pr view --json number -q .number)
          gh pr view --json labels -q .labels | jq '.[] | select(.name == "reviewapps")' -e
          echo "pr_number=$PR_NUMBER" >> "$GITHUB_OUTPUT"
          # the following is needed because it cannot be retrieved
          # from ${{ github.sha }} if triggered by PullRequest Label
          echo "pr_commit=$(gh pr view --json commits | jq -r '.commits[-1].oid')" >> "$GITHUB_OUTPUT"

  gitops:
    needs: check-if-reviewapp
    if: needs.check-if-reviewapp.outputs.outcome == 'success'
    uses: ./.github/workflows/wc-update-ecs-manifest.yml
    permissions:
      id-token: write
    with:
      environment: reviewapps
      reviewapp_aws_region: ${{ inputs.aws_region }}
      reviewapp_pr_number: ${{ needs.check-if-reviewapp.outputs.pr_number }}
      reviewapp_pr_commit: ${{ needs.check-if-reviewapp.outputs.pr_commit }}
      reviewapp_aws_role_to_assume: ${{ inputs.aws_role_to_assume }}
    secrets:
      APP_ID: ${{ secrets.APP_ID }}
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
